* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #1b1919;
}

.container {
    background-color: rgb(59, 33, 143);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 467px;
    width: 90%;
    transition: background-color 2s;
}

.container:hover {
    background-color: rgb(50, 34, 100);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #e8ecf0;
}

.quote-box {
    min-height: 100px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #564a99;
    border-radius: 8px;
    border-left: 4px solid #e4e8eb;
}

#quote-text {
    font-size: 1.1rem;
    font-style: italic;
    color: #e2d8d8;
    line-height: 1.6;
}

button {
    background-color: #582c91;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #67488f;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}